<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.nieyihe.easysleep">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"  />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"  />
    <uses-permission android:name="android.permission.GET_TASKS"  />

    <application
        android:name=".application.TheApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="TD_APP_ID" android:value="33A7F1E0B633421D87B498ADE86BB668" />
        <meta-data android:name="UMENG_APPKEY" android:value="58aaf582734be4393c000c74" />
        <meta-data android:name="TD_CHANNEL_ID" android:value="talkingdata" />
        <meta-data android:name="UMENG_CHANNEL" android:value="umeng" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>